{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s question</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="owner">Author</label>
        {{input value=author id="author" placeholder=rental.author}}
      </div>

      <div class="form-group">
        <label for="type">Content</label>
        {{input value=content id="content" placeholder=rental.content}}
      </div>

      <div class="form-group">
        <label for="city">Notes</label>
        {{input value=notes id="notes" placeholder=rental.notes}}
      </div>

      <button {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
<button {{action 'updateQuestionForm'}} class="btn btn-success" class="delete">Update</button>
{{/if}}
