<h1> Welcome to Question Board </h1>

<p>Feel free to ask as many questions as you like.</p>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.content}} by {{answer.author}}</li>
  {{/each}}
</ul>


{{new-answer saveAnswer="saveAnswer"}}
